# Node & Next.js
node_modules
.next
npm-debug.log
yarn-error.log
*.lock

# Build artifacts
dist
build
bin
obj

# System & IDE files
.DS_Store
Thumbs.db
.vscode
.idea

# Environment files (optional, copy only if needed)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Other
*.log
*.tmp
*.swp
coverage
