services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend
    image: flexnet.frontend
    env_file:
      - .env.local
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules/
            - .next/
            - .git/
        - action: rebuild
          path: package.json
